*.pyc
# These are files that are generated within the source tree by the
# ppremake system.
Makefile
*.proj
pp.dep
/built/
Opt?-*
src/configfiles/20_panda.prc
src/egg/lexer.cxx
src/egg/parser.cxx
src/egg/parser.h
src/gobj/cg_preamble.cxx
